*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.sub__header{
    width: 100%;
    height: 40px;
    background: #939878;

    display: flex;
    align-items: center;
    justify-content: center;
}
.sub__header p{
    color: #FFF;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */ 
}
.navbar{
    width: 100%;
    height: 74px;
    

    display: flex;
    align-items: center;
    padding: 0 80px;
}
.nav__loga{
    flex: 1;
}
.nav__collection{
    display: flex;
    list-style: none;
    gap: 32px;
    margin-right: 24px;
}

.nav__btn-card{
    padding: 9px 21px;

    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.nav__btn-find{
    padding: 9px 21px;

    border-radius: 6px;
    border: 1px solid #CF6F49;
    background: #CF6F49;
    margin-left: 16px;
}


.banner{
    width: 100%;
    height: 686px;
    display: flex;
}
.banner__text,
.banner__image{
    width: 50%;
    height: 100%;

}
.banner__image{
    background: url(./img/IMAGE.png) no-repeat center/cover;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    gap: 20px;
    align-items: flex-start;
    background: #f5f5f2;
}
.banner__header{
    border-radius: 32px;
    background: #E7E8E3;
    padding: 4px 12px;
    display: inline-block;
    font-size: 14px;
}
.banner__title{
    color: #2A2C1F;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 120% */
}
.banner__deck{
    color: #65665C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.div{
    display: flex;
    gap: 20px;
}
.banner__btn{
    width: 310px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    
    color: #65665C;
     padding-left: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
     line-height: 30px; /* 150% */
    
}
.banner__btn1{
    width: 154px;
    height: 50px;
    display: flex;
    border-radius: 6px;
    border: 1px solid #CF6F49;
    background: #CF6F49;
    padding: 10px 16px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.navbar2{
    width: 100%;
    height: 74px;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    
}
.navbar2__ppp{
    width: 243px;
    height: 53px;
    color: #2A2C1F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.navbar2__ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 24px;
}
.h1{
    color: #2A2C1F;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px; /* 120% */
}

.poi{
    color: #65665C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
}
.box{
    display: flex;
    gap: 20px;
    justify-content: center     ;
}
.wrapper{
    width: 405px;
    height: 291px;
    border-radius: 16px;
    border: 1px solid #E7E8E3;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

}
.img{
    color: #CF6F49;
    padding-top: 70px;
    padding-left: 50%;
    text-align: center;
    margin: auto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 150% */
}
.wrapper h2{
    color: #2A2C1F;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; /* 140% */
}
.wrapper p{
    color: #65665C;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.banner2{
    width: 80%;
    height: 500px;
    display: flex;
    margin: auto;
}
.banner2__text,
.banner2__image{
    width: 50%;
    height: 100%;

}
.banner2__image{
    background: url(./IMAGE.svg) no-repeat center/cover;
    border-radius: 15px;
}
.banner2__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    gap: 20px;
    align-items: flex-start;

    
}
.banner2__header{
    border-radius: 32px;
    background: whitesmoke;
    padding: 4px 12px;
    display: inline-block;
    font-size: 14px;
}
.banner2__title{
    color: #2A2C1F;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 120% */
}
.banner2__deck{
    color: #65665C;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.banner2__btn{
    width: 210px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #fff;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    
    color: #65665C;
    padding-left: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    
}
.banner2__btn1{
    width: 160px;
    height: 30px;
    display: flex;
    border-radius: 6px;
    border: 1px solid #fff;
    background: #fff;
    padding: 0px 30px;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.banner3{
    width: 80%;
    height: 500px;
    display: flex;
    margin: auto;
}
.banner3__text,
.banner3__image{
    width: 50%;
    height: 100%;

}
.banner3__image{
    background: url(./IMAGE\ \(1\).png) no-repeat center/cover;
    border-radius: 15px;
}
.banner3__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    gap: 20px;
    align-items: flex-start;

    
}
.banner3__header{
    border-radius: 32px;
    background: whitesmoke;
    padding: 4px 12px;
    display: inline-block;
    font-size: 14px;
}
.banner3__title{
    color: #2A2C1F;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 120% */
}
.banner3__deck{
    color: #65665C;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.banner3__btn{
    width: 210px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #fff;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    
    color: #65665C;
    padding-left: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    
}
.banner3__btn1{
    width: 160px;
    height: 30px;
    display: flex;
    border-radius: 6px;
    border: 1px solid #fff;
    background: #fff;
    padding: 0px 30px;
    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.heder{
    width: 98px;
    border-radius: 10px;
    color: #2A2C1F;
    margin: auto;
    text-align: center;
    background: whitesmoke;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}
.h22{
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px; 
}
.box5{
    display: flex;
    gap: 50px;
    padding: 30px 200px;
    flex-wrap: wrap;
}
.main5{
   width: 335px;
   height: 400px;
   background: whitesmoke;
}


.main5 img{
    width: 100%;
    height: 50%;

}
.main5 h2{
    color: #2A2C1F;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; 
}
.gat{
    color: #2A2C1F;
    padding: 10px 18px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; 
}
.pin{
    color: #65665C;
    padding-left: 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    
}
.man{
    padding-top: 20px;
    padding-left: 30px;
}
.box10{
    display: flex;
    justify-content: center;
}
.wrapper30{
    width: 192px;
    height: 50px;
    border-radius: 6px;
    padding-top: 10px;
border: 1px solid #E7E8E3;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
color: #2A2C1F;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.box10 span{
    padding-left: 20px;
    padding-top: 10px;
    color: #2A2C1F;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.box11{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 7%;
}
.wrapper34{
    width: 416px;
height: 130px;
border-radius: 16px;
border: 1px solid #E7E8E3;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

}
.wrapper34 h3{
    padding:20px 0 0 30px;
    color: #2A2C1F;
font-family: Roboto;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}
.wrapper34 p{
    padding:10px 0 0 30px;
    color: #2A2C1F;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.box15{
    width: 1280px;
height: 465px;
flex-shrink: 0;
border-radius: 24px;
background: #65665C;
margin: auto;
}
.box15 img{
   padding: 96px 0 0 50%;
}                  
.box15 h1{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 57.6px; /* 120% */
}
.box15 p{
    color: #E7E8E3;
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
}
.but{
    width: 137px;
height: 50px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid #CF6F49;
background: #CF6F49;
margin: 0 0 0 46%;
}
.box20{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.wrapper40{
    width: 405px;
height: 325px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid #E7E8E3;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.wrapper40 img{
    padding-top: 40px;
    padding-left: 30px;
    border: 1px solid white;
}
.wrapper40 p{
    padding: 18px 40px 0 30px;
    color: #2A2C1F;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
}

.haw{
    padding-left: 120px;
    color: #2A2C1F;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 57.6px; /* 120% */
}

.piu{
    padding-left: 120px;
    color: #65665C;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
}

.box30{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.wrapper50{
    width: 335px;
height: 425px;
flex-shrink: 0;
border-radius: 0 0 16px 16px;
border: 1px solid #E7E8E3;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.immgg{
    width: 100%;
height: 52%;
flex-shrink: 0;
}
.wrapper50 h2{
    padding: 0 7% 0;
    color: #2A2C1F;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 33.6px; /* 140% */
}
.wrapper50 p{
    padding:  0 7% 0;
    color: #65665C;
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.box40{

    width: 100%;
    height: 400px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.textt{
    width: 270px;
    height: 100%;
    
}
.textt img{
    padding: 20px 0 0 30px;
}
.ules{
    list-style: none;
    padding-left: 20px;
}
.mnb{
    color: #65665C;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}
.textt input{
    padding-left: 20px;
    width: 241px;
height: 48px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid #E7E8E3;
background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.textt button{
    width: 127px;
height: 50px;
flex-shrink: 0;
border-radius: 6px;
border: 1px solid #CF6F49;
background: #CF6F49;
}











